@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/PretendardVariable.woff2") format("woff2-variations");
}

/* Swiper 스타일 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background-color: #f43f5e !important; /* rose-500 색상 */
}

.swiper-button-next,
.swiper-button-prev {
  color: #f43f5e !important; /* rose-500 색상 */
  background-color: rgba(255, 255, 255, 0.7);
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  padding: 8px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

:root {
  --foreground-rgb: 23, 23, 23;
  --background-rgb: 248, 250, 252;
  --swiper-theme-color: #f43f5e; /* rose-500 */
  --swiper-navigation-size: 30px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 23, 23, 23;
    --background-rgb: 248, 250, 252;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "SUIT Variable", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
